# Python Fundamentals

The following exercises will check your understanding of:
+ What are variables in Python.
+ How to perform basic calculations.
+ How to write functions in Python.
+ Read a pandas dataframe.
+ How to select columns and rows (subsets) in pandas dataframe.

## Variables and Strings

**1. What is the final value of `position` in the program below?** (Try to predict the value without running the python code, then check your prediction_)

```python
initial = 'Legal'
position = initial
initial = 'Analytics'
```

**2. If you create and assign to the variable `IDH` the value `= 0.0005`, what happens if you try to get the second digit (e.g. `.`) of `IDH` via index `IDH[1]`?**

**3. What does the following code print?** Think about it before you write a new python code. Then add some explanation (< 50 words) in text cell.

```python
city_name = 'Arequipa'
print('city_name[1:3] is', city_name[1:3])
```

**4. Can you concatenate strings in python?** Can you demonstrate how with an example in a python cell?

## Functions

The function syntax should be always as following:

In [ ]:
def f(x):
    print(x)

+ **def**   tells Python that you are writing a function _definition_. This line of code is also followed by a colon.

+ **f**     is the name of the function so that the user can call the function later on.

+ **x**     within the parenthesis are parameters passed into the function to be used.

In [ ]:
## Suppose we have the following string
x = "I am X"
## We can call our function f on x variable
f(x)

I am X

- Begin the definition of a new function with def.
- Followed by the name of the function.
    - Must obey the same rules as variable names.
- Then parameters in parentheses.
    - Empty parentheses if the function doesn’t take any inputs.
- Then a colon.
- Then an indented block of code.

In [ ]:
def print_greeting():
    print('Hello!')

- Defining a function does not run it, it is like assigning a value to a variable. You must call the function to execute the code it contains.

In [ ]:
# call the previous function print_greeting
print_greeting()

Hello!

Function can have a return value:
The return value is something that may be retrieved or calculated within the function. For instance:

In [ ]:
## Suppose we have a function that multiply 10 to a given integer
def multiplyten(x):
    x = x*10 # In this line, we are assigning a new value to x
    return x # Return is what the function will give back

In [ ]:
# now lets call the function mutiplyten
multiplyten(5)

50

### EXERCISE

*Law firms in Netherlands have an hourly rate along with a **x**% office cost and **y**% VAT tax. Write a function to compute the total cost of a law firm for **n** number of hours. The rate per hour of a legal firm in the Hague is € 200. In addition to this, they charge 5% office cost and 21% VAT. Use this function to compute the total cost of hiring this law firm for 10 hours.*

## Data Handling with Pandas

 Go to the following URL using your browser and manually download the dataset to your computer. Put the file in the same folder where your notebook is. Finally, use `pd.read_csv()` to read it.


url = 'https://corgis-edu.github.io/corgis/datasets/csv/state_crime/state_crime.csv'

In [2]:
import pandas as pd
df = pd.read_csv('state_crime.csv')
df

        State  Year  ...  Data.Totals.Violent.Rape  Data.Totals.Violent.Robbery
0     Alabama  1960  ...                       281                          898
1     Alabama  1961  ...                       252                          630
2     Alabama  1962  ...                       218                          754
3     Alabama  1963  ...                       192                          828
4     Alabama  1964  ...                       397                          992
...       ...   ...  ...                       ...                          ...
3110  Wyoming  2015  ...                       173                          125
3111  Wyoming  2016  ...                       205                           59
3112  Wyoming  2017  ...                       263                           76
3113  Wyoming  2018  ...                       243                          100
3114  Wyoming  2019  ...                       324                           67

[3115 rows x 21 columns]

We can get a slice of the data by using the `df.query()` function to select all the records relating to a specific year. For example, by specifying the corresponding column to filter (`Year`) and the desired value (`2007`).

In [3]:
df_2007 = df.query('Year == 2007')
df_2007

                     State  ...  Data.Totals.Violent.Robbery
47                 Alabama  ...                         7398
107                 Alaska  ...                          581
167                Arizona  ...                         9764
227               Arkansas  ...                         3105
287             California  ...                        70706
347               Colorado  ...                         3461
407            Connecticut  ...                         4303
467               Delaware  ...                         1763
527   District of Columbia  ...                         4265
587                Florida  ...                        38155
647                Georgia  ...                        17291
707                 Hawaii  ...                         1122
767                  Idaho  ...                          243
827               Illinois  ...                        23100
887                Indiana  ...                         7845
947                   Iowa  ...                         1328
1007                Kansas  ...                         2022
1067              Kentucky  ...                         4068
1127             Louisiana  ...                         6316
1187                 Maine  ...                          349
1247              Maryland  ...                        13258
1307         Massachusetts  ...                         7021
1367              Michigan  ...                        13365
1427             Minnesota  ...                         4770
1487           Mississippi  ...                         2896
1547              Missouri  ...                         7728
1607               Montana  ...                          233
1667              Nebraska  ...                         1115
1727                Nevada  ...                         6938
1787         New Hampshire  ...                          451
1847            New Jersey  ...                        12567
1907            New Mexico  ...                         2323
1962              New York  ...                        31085
2022        North Carolina  ...                        13534
2082          North Dakota  ...                           75
2142                  Ohio  ...                        18351
2202              Oklahoma  ...                         3392
2262                Oregon  ...                         2864
2322          Pennsylvania  ...                        19440
2382          Rhode Island  ...                          760
2442        South Carolina  ...                         6354
2502          South Dakota  ...                          118
2562             Tennessee  ...                        11033
2622                 Texas  ...                        38778
2682         United States  ...                       447324
2742                  Utah  ...                         1425
2802               Vermont  ...                           79
2862              Virginia  ...                         7696
2922            Washington  ...                         6079
2982         West Virginia  ...                          847
3042             Wisconsin  ...                         5480
3102               Wyoming  ...                           84

[52 rows x 21 columns]

Similarly, we can find various crime records for the state of Wisconsin for the year 2007 by doing the following operation.

In [4]:
df_2007_wisconsin = df_2007.query('State == "Wisconsin" ')
df_2007_wisconsin

          State  Year  ...  Data.Totals.Violent.Rape  Data.Totals.Violent.Robbery
3042  Wisconsin  2007  ...                      1227                         5480

[1 rows x 21 columns]

Find all the unique States in the dataframe. Do you find something strange ? Select only the entries from the dataframe which are not states. 

Hint: United States and District of Columbia are not states.

In [28]:
df['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'United States', 'Utah', 'Vermont', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

How would you count the number of unique states in the 'State' column ?

In [16]:
df['State'].nunique()

52

Let's select the 50 States using the query() method. We create a new dataframe, `df_50_States` for this.
Basically, using the & (and) operator we select all the rows in the dataframe which don't belong to 'United States' and 'District of Columbia'.

In [17]:
df_50_States = df.query("State!='United States' & State!='District of Columbia'")
df_50_States

        State  Year  ...  Data.Totals.Violent.Rape  Data.Totals.Violent.Robbery
0     Alabama  1960  ...                       281                          898
1     Alabama  1961  ...                       252                          630
2     Alabama  1962  ...                       218                          754
3     Alabama  1963  ...                       192                          828
4     Alabama  1964  ...                       397                          992
...       ...   ...  ...                       ...                          ...
3110  Wyoming  2015  ...                       173                          125
3111  Wyoming  2016  ...                       205                           59
3112  Wyoming  2017  ...                       263                           76
3113  Wyoming  2018  ...                       243                          100
3114  Wyoming  2019  ...                       324                           67

[2995 rows x 21 columns]

Now let's check how many unique States we have in the `'State'` column.

In [18]:
df_50_States['State']. nunique()

50

### EXERCISE

*Find the total number of robberies (hint: look at data.totals.violent.robbery column) which took place in Rhode Island, Ohio and South Dakota in the year 2015.*